





body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background: #FFF;
    width: 1400px;
    height: 3000px;
           
}


/*header*/


.cman-cman{
     
    
    text-decoration: none;

}

.pedro-pablo {

    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: var(--IRIS, #4D5AE5);
    font-style: normal;
    line-height: 21px; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration:none;
    line-height: 1.17;

}

.web-beb {

   color: var(--NAVY-BLUE, #2E2F42);
   font-family: "Raleway", sans-serif;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 21px; /* 116.667% */
   letter-spacing: 0.54px;
   text-transform: uppercase;
   text-decoration:none;
   line-height: 1.17 
}

.info a{

    display: inline-flex;
    align-items: flex-start;
    gap: 40px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
   

}

.index-bimbex{

    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration:none;
   
}


.index-bimbex:hover,
.index-bimbex:focus {

    color: #404bbf;

}



.links{
      
    font-style: normal;
    text-decoration: none;


}

.clue-links{ 

    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;


}

.clue-links:hover,
.clue-links:focus {
            
    color: #404bbf;

}

/*section 1*/



.main-section {
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    background: var(--NAVY-BLUE, #2E2F42);

    
}






.main-name {
    width: 496px;
    color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    margin-left: 472px;
    padding-top: 180px;
    position: absolute;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
}


.order-service {
    
    color: var(--WHITE, #FFF);
  /* Button Text */
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.64px;
  /*Button*/
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-left: 636px;
    box-flex: center;
    margin-top: 356px;
    cursor: pointer;
    
 

}

.order-service:hover,
.order-service:focus {

    background-color:#404BBf;

    

}


/*sectiion 2*/



.aga {
 
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
    margin-top: 120px;
    padding-left: 156px;
    padding-right: 156px;
}



.point-name {
    display: flex;
    width: 264px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    text-decoration: none;
    letter-spacing: 0.02em;
    line-height: 1.2;
    font-size: 20px;
    font-weight: 500;
    color: #2e2f42;


}

.point-strategy{

    color: var(--SLATE, #434455);
    /* Body */
    font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 24px; /* 150% */
   letter-spacing: 0.32px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color:#434455;

}



/*section 3*/

.generel-gavs {

    
   
    width: 1440px;
    height: 732px;
    flex-shrink: 0;
    margin-top: 120px; 
    background: var(--CLOUD, #F4F4FD);

}


.team {

    padding-top: 120px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;
}

.liudi{
    gap: 30px;
}


.list-part {
   
    
    margin-left:156px ;
    display: inline-flex;
    padding-bottom: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    border-radius: 0px 0px 4px 4px;
    background: var(--WHITE, #FFF);
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);


}




.contaainer{
    
    
    display: flex;
    width: 232px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;

}



.name-bame {

    color: var(--NAVY-BLUE, #2E2F42);
   text-align: center;
   /* Header 3 */
   font-family: Roboto;
   font-size: 20px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.2; /* 120% */
   letter-spacing: 0.02em;

}


.stelle{

   padding-top: 8px;
   color: var(--SLATE, #434455);
   text-align: center;
   /* Body */
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 400;
   line-height: 1.5; /* 150% */
   letter-spacing: 0.02em;
}



/*section 4*/



.letsgo {
    
    align-items: center;
    margin-top: 120px;
    width: 1128px;
    height: 1000px;
    flex-shrink: 0; 
    
}

.last-section-name{
    
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
    line-height: 1.11;


}


.workspace {

    margin-top: 72px;
    width: 1128px;
    height: 1000px;
    flex-shrink: 0;
    display: inline-flex;
    

}





.project-card{

    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;   
    border: 1px solid var(--CORNFLOWER, #E7E9FC);
    background: var(--WHITE, #FFF);
}


.kartinka{

    width: 360px;
    height: 300px;
    flex-shrink: 0;
}


.card-name{
    
    
    color: var(--NAVY-BLUE, #2E2F42);
    /* Header 3 */
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: 0.4px;

}

.card-solve{
  
    color: var(--SLATE, #434455);
    /* Body */
   font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}



/*footer*/ 

.footer-start{

    background-color: #2e2f42;
}


.span-class{

    color: #f4f4fd;
}


.parag-footer{

    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}
